<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> <%= section %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>: <%= section %></h1>
    <p>Welcome to <%= title %> <%= section %></p>
    <p>You need to have a valid API KEY to use the following <%= title %> methods</p>

    
  </body>
</html>
